@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebSite.Models.ForSale>
@{
    ViewBag.Title = "For Sale";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.jparallax.min.js"></script>
<script src="~/Scripts/jquery.event.frame.js"></script>
<script src="~/Scripts/MyParallaxForSale.js"></script>

<div id="parallaxforsale" class="clear">
    <div class="parallax-layer" style="width:1800px; height:375px;">
        <img src="~/images/grass.png" alt="" style="width:1800px; height:375px;" />
    </div>
    <div class="parallax-layer" style="width:1600px; height:400px;">
        <img src="~/images/butterflies3.png" alt="" style="width:1700px; height:425px;" />
    </div>
    <div class="content-b">
        <h1>Продаєте авто, телефон чи ноутбук?</h1>
        <h6>З нашими покупцями чи продавцями завжди можна домовитись</h6>
        <p class="content-b"><a class="btn btn-default" @Html.ActionLink("Додати оголошення / Create new", "Create")</a></p>
    </div>
</div>


<table class="table">
    <tr>
        <th width="77%">
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th width="13%">
            @Html.DisplayNameFor(model => model.First().phone)
        </th>
        <th width="10%">
             <a type="text/html"
                     class="text-center"
                     href="#article-editor"
                     data-toggle="modal">price <span class="glyphicon glyphicon-sort"></span> </a>
            <div class="modal fade" id="article-editor" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">&times;</a>
                            <h3>Select Max price to show</h3>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Index", "ForSale", new { id = "PriceForm" }, FormMethod.Get))
            {
                                @Html.TextBox("price")
                                <input type="submit"  value="Show Result"  />
                            }
                        </div>
                    </div>
                </div>
                    </div>
        </th>
        <th></th>
    </tr>
@foreach (var item in Model.OrderByDescending(i => i.ID))
{
    <tr>
        <td>
          <pre>  @Html.DisplayFor(modelItem => item.Description) </pre>
        </td>
        <td>
             @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            $  @Html.DisplayFor(modelItem => item.price).ToString()
</td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" |Edit| ", "Edit", new { id = item.ID })
                @Html.ActionLink(" |Details| ", "Details", new { id = item.ID })
                @Html.ActionLink(" |Delete| ", "Delete", new { id = item.ID })
            }
            else
            {
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            }
        </td>
    </tr>
}
</table>
<div>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>