@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebSite.Models.ForRent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-ForRent">

    
    <h1>Аренда жилья в Чикаго и окресносях</h1>
    <p> Хотите максимально быстро снять или сдать квартиру - наша доска объявлений самое правильное место.</p>
    <p><a class="btn btn-default btn-lg" @Html.ActionLink("Добавить бесплатное объявление", "Create")</a></p> 
</div>


<table class="table">
    <tr>
        <th width="77%">
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th width="13%">
            @Html.DisplayNameFor(model => model.First().phone)
        </th>
        <th width="10%">
         @*@Html.DisplayNameFor(model => model.price)*@
            
             <a type="text/html"
                     class="text-center"
                     href="#article-editor"
                     data-toggle="modal">price <span class="glyphicon glyphicon-sort"></span> </a>  
            

            <div class="modal fade" id="article-editor" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a class="close" data-dismiss="modal">&times;</a>
                            <h3>Select Max price to show</h3>
                        </div>
                        <div class="modal-body">
                            @using (Html.BeginForm("Index", "ForRents", new { id = "PriceForm" }, FormMethod.Get))
            {
                                @Html.TextBox("price")
                                <input type="submit"  value="Show Result"  />
                            }
                        </div>

                    </div>
                </div>
                    </div>


        </th>
     
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.ID))
{
    <tr> 
        <td>
          <pre>  @Html.DisplayFor(modelItem => item.Description) </pre>
        </td>
        <td>
            <pre >   @Html.DisplayFor(modelItem => item.phone) </pre>
        </td>
        <td>
            $  @Html.DisplayFor(modelItem => item.price)
</td>
        
        @*<td>
        @if (item.image != null && item.image1 == null)
        {
            var img64 = Convert.ToBase64String(item.image);
            var img = string.Format("data:image/png;base64," + img64);
            <img src="@img" style="max-height:75px; max-width:150px" />
        }

        else if (item.image != null && item.image1 != null)
        {
            var img64 = Convert.ToBase64String(item.image);
            var img = string.Format("data:image/png;base64," + img64);

            var img65 = Convert.ToBase64String(item.image1);
            var img1 = string.Format("data:image/png;base64," + img65);


            <img src="@img" style="max-height:75px; max-width:150px" />
                <img src="@img1" style="max-height:75px; max-width:150px" />
        }
        
        
        </td>*@
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" |Edit| ", "Edit", new { id = item.ID })
                @Html.ActionLink(" |Details| ", "Details", new { id = item.ID })
                @Html.ActionLink(" |Delete| ", "Delete", new { id = item.ID })
            }
            else
            {

                @Html.ActionLink("Details", "Details", new { id = item.ID })

            }





          
        </td>
    </tr>
}

</table>
<div>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>