@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebSite.Models.AdTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-AdTable">
    <h1>Найдите работу мечты</h1>
    <p> На нашем сайте вы всегда можете узнать последние новости рынка труда, а также изучить свежий обзор зарплат, с помощью которого легко оценить, на какие должности стоит обратить внимание.</p>
    <p><a class="btn btn-default btn-lg" @Html.ActionLink("Добавить бесплатное объявление", "Create")</a></p>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.ID))
{
    <tr>
        <td>
            <pre>@Html.DisplayFor(modelItem => item.Description)</pre> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" |Edit| ", "Edit", new { id = item.ID }) 
                @Html.ActionLink(" |Details| ", "Details", new { id = item.ID }) 
                @Html.ActionLink(" |Delete| ", "Delete", new { id = item.ID })  
            }
            else
            {

                @Html.ActionLink("Details", "Details", new { id = item.ID })

            }


    </tr>
}

</table>
<div>@Html.PagedListPager(Model,page=>Url.Action("Index",new { page}))</div>
