@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebSite.Models.AdTable>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron-AdTable">
    <h1>Робота в Чікаго</h1>
    <h6><strong> На нашому сайті ви завжди можете взнати свіжі новини ринка праці, знайти нові вакансії та проаналізувати тенденцію заробітніх плат</strong></h6>
    <p><a class="btn btn-default btn-lg" @Html.ActionLink("Додати оголошення / Create new", "Create")</a></p>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<table class="table">
    <tr>
        <th>
           @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.First().phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.ID))
{
    <tr>
        <td>
            <pre>@Html.DisplayFor(modelItem => item.Description)</pre> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" |Edit| ", "Edit", new { id = item.ID }) 
                @Html.ActionLink(" |Details| ", "Details", new { id = item.ID }) 
                @Html.ActionLink(" |Delete| ", "Delete", new { id = item.ID })  
            }
            else
            {

                @Html.ActionLink("Details", "Details", new { id = item.ID })

            }


    </tr>
}

</table>
<div>@Html.PagedListPager(Model,page=>Url.Action("Index",new { page}))</div>
