@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebSite.Models.AdTable>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Scripts/jquery.jparallax.min.js"></script>
<script src="~/Scripts/jquery.event.frame.js"></script>
<script src="~/Scripts/MyParallax.js"></script>


<div id="parallax" class="clear">
    <div class="parallax-layer" style="width:1800px; height:375px;">
        <img src="~/images/grass.png" alt="" style="width:1800px; height:375px;" />
    </div>
    <div class="parallax-layer" style="width:1600px; height:400px;">
        <img src="~/images/butterflies3.png" alt="" style="width:1700px; height:425px;" />
    </div>
    <div class="content-b">
        <h1>Робота в Чікаго</h1>
        <h6>На нашому сайті ви завжди можете взнати свіжі новини ринка праці, знайти нові вакансії та проаналізувати тенденцію заробітніх плат</h6>
        <a class="btn btn-default" @Html.ActionLink("Додати оголошення / Create new", "Create")></a>
    </div>
</div>




<table class="table">
    <tr>
        <th width="87%">
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th width="13%">
             @Html.DisplayNameFor(model => model.First().phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(i => i.ID))
{
    <tr>
        <td>
            <pre>@Html.DisplayFor(modelItem => item.Description)</pre> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink(" |Edit| ", "Edit", new { id = item.ID }) 
                @Html.ActionLink(" |Details| ", "Details", new { id = item.ID }) 
                @Html.ActionLink(" |Delete| ", "Delete", new { id = item.ID })  
            }
            else
            {

                @Html.ActionLink("Details", "Details", new { id = item.ID })

            }


    </tr>
}

</table>
<div>@Html.PagedListPager(Model,page=>Url.Action("Index",new { page}))</div>
