<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ukrainian Community in Chicago</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="hidden-md hidden-lg"><img src="~/images/logo.jpg" /></div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>             
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><div class="hidden-xs hidden-sm"><img src="~/images/logo.jpg" /></div></li>
                    <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "AdTables")</li>
                    <li>@Html.ActionLink("Services", "Index", "Services")</li>
                    <li>@Html.ActionLink("For Sale", "Index", "ForSale")</li>
                    <li>@Html.ActionLink("For Rent", "Index", "ForRents")</li>
                    <li>@Html.ActionLink("Contact US", "Contact", "Home")</li>
                   
                    
                   
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Created by Rostyslav Zhovnir</p>
            @if (User.Identity.IsAuthenticated)
            {
                 @Html.ActionLink("LogOut", "Logout", "User")
            }
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
